<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生情報一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Furigana</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Region</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Remarks</th>
  </tr>
  </thead>
<tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.id}">1</td>
    <td th:text="${studentDetail.student.name}">山田太郎</td>
    <td th:text="${studentDetail.student.furigana}">ヤマダタロウ</td>
    <td th:text="${studentDetail.student.nickname}">タロ</td>
    <td th:text="${studentDetail.student.email}">taro@example.com</td>
    <td th:text="${studentDetail.student.region}">東京都</td>
    <td th:text="${studentDetail.student.age}">28</td>
    <td th:text="${studentDetail.student.gender}">Male</td>
    <td th:text="${studentDetail.student.remark}">特になし </td>
  </tr>
</tbody>
</table>
</body>
</html>